[2020-12-23 09:55] timja opened #123 "LTS 2.263.2"
# Next LTS release

## Release Lead

@timja

## Prep work

~- [ ] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)~

- [x] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.263`

- [x] Create or update release branch in [jenkins-infra/release](https://github.com/jenkins

[2021-01-14 08:07] #123 closed

[2021-01-25 14:41] MarkEWaite opened #131 "LTS 2.263.3"
# LTS 2.263.3

## Release Lead

@MarkEWaite

## Prep work

- [x] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)

- [x] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.263`

- [x] Create or update release branch in [jenkins-infra/release](https://github.com/jenkins-i

[2021-01-26 04:16] #131 closed

[2021-02-09 14:52] MarkEWaite opened #135 "LTS 2.263.4"
# LTS 2.263.4

## Release Lead

@timja

## Prep work

- [x] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)

- [x] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.263`

- [x] Create or update release branch in [jenkins-infra/release](https://github.com/jenkins-infra/

[2021-02-10 19:24] MarkEWaite opened #137 "LTS 2.277.1"
# LTS 2.277.1

## Release Lead

@timja

## Prep work

- [x] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev/c/NnkQG7JQgaI/m/Z7-Rh9bFAQAJ)

- [x] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.277`

- [x] Create or update release branch in [jenkins-infra/release](http

[2021-03-09 20:09] #135 closed

[2021-03-11 09:53] #137 closed

[2021-03-17 15:50] timja opened #140 "2.277.2 release prep"
# Jenkins 2.277.2 LTS release

## Release Lead

@MarkEWaite

## Prep work

- [x] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)

- [x] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.263`

- [x] Create or update release branch in [jenkins-infra/release](https://gith

[2021-04-07 21:51] MarkEWaite commented on #140
Completed all items.  Needs an additional item in the checklist

[ ] Remove the `lts-candidate` label from [Jira issues resolved in the release](https://issues.jenkins.io/issues/?jql=labels%20%3D%20lts-candidate%20and%20status%20in%20(closed%2C%20resolved)%20ORDER%20BY%20status%20DESC%2C%20key%20ASC)

[2021-04-07 21:51] #140 closed

[2021-04-14 14:46] MarkEWaite opened #148 "LTS 2.277.3"
# LTS 2.277.3

## Release Lead

@MarkEWaite

## Prep work

- [x] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)

- [x] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.263`

- [x] Create or update release branch in [jenkins-infra/release](https://github.com/jenkins-i

[2021-04-20 23:36] #148 closed

[2021-04-21 10:35] bmunozm opened #150 "LTS 2.277.4"
# 2.277.4 release checklist

## Release Lead

@bmunozm

## Prep work

- [x] ~~LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)~~

- [x] ~~Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.277`~~

- [x] Create or update release branch in [jenkins-infra/release](https://g

[2021-04-21 10:59] daniel-beck commented on #150
Everyone with an account has this permission, are you not logged in?

[2021-04-21 12:58] timja commented on #150
@olblak / @MarkEWaite

Do I remember correctly that you've stopped bothering with:

as packaging rarely changes and you just use the master branch?

[2021-04-23 17:47] MarkEWaite commented on #150
I believe the packaging uses that branch.  The master branch and the stable-2.277 branch point to the same commit at the moment.   I like that very much.  I believe the branch is used but has the same content as the master branch.

[2021-05-05 14:38] dduportal commented on #150
Informational message: the publication of the website www.jenkins.io and of the Docker images (all linked to the release) required some configuration changes on the infrastructure to allow the Jenkins controller trusted.ci.jenkins.io to perform as expected.

More information here if you are curious:
* https://issues.jenkins.io/browse/INFRA-2972
* https://github.com/jenkinsci/docker/pull/1106

[2021-05-06 07:59] timja commented on #150
Thanks all

[2021-05-06 07:59] #150 closed

[2021-05-08 11:01] res0nance opened #153 "LTS 2.289.1"
# 2.289.1 Release checklist

## Release Lead

@res0nance

## Prep work

- [x] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)

- [x] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.277`

- [x] Create or update release branch in [jenkins-infra/release](https://github.

[2021-05-08 15:45] timja opened #155 "Document ATH in release checklist"
Where, what

[2021-05-08 15:47] timja opened #156 "Automate github changelog publishing weekly release"

[2021-05-08 15:47] timja opened #157 "Automate github changelog publishing weekly LTS"

[2021-05-08 15:49] timja opened #158 "Automate initialising new bom line"
https://github.com/jenkinsci/bom

See https://github.com/jenkinsci/helm-charts/blob/main/.github/workflows/sync-lts.yaml for a workflow that automates updating to a new LTS line

[2021-05-08 15:50] timja opened #159 "Automate updating bom to new LTS version"
https://github.com/jenkinsci/bom

See https://github.com/jenkinsci/helm-charts/blob/main/.github/workflows/sync-lts.yaml for a workflow that automates updating to a new LTS version

[2021-05-08 15:50] timja opened #160 "Automate updating jcasc integration tests to new LTS version"
https://github.com/jenkinsci/configuration-as-code-plugin, see https://github.com/jenkinsci/configuration-as-code-plugin/pull/1601

See https://github.com/jenkinsci/helm-charts/blob/main/.github/workflows/sync-lts.yaml for a workflow that automates updating to a new LTS line

[2021-05-08 16:48] olblak commented on #160
I am sure to understand. the release env is already using that image

[2021-06-14 07:38] timja commented on #153
Huge thanks @res0nance for this

[2021-06-14 07:38] #153 closed

[2021-06-14 07:39] timja opened #166 "2.289.2"
# Next LTS release

## Release Lead

@timja

## Prep work

~- [ ] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)~

~- [ ] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.277`, use the [init-lts-line](https://github.com/jenkins-infra/backend-commit-history-parser/blo

[2021-07-14 14:38] MarkEWaite opened #170 "Duplicate closed"
# Next LTS release

## Release Lead

@imonteroperez

## Prep work

- [ ] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)

- [ ] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.277`, use the [init-lts-line](https://github.com/jenkins-infra/backend-commit-history-parse

[2021-07-14 14:38] imonteroperez opened #171 "LTS 2.289.3"
# 2.289.3 LTS release

## Release Lead

@imonteroperez

## Prep work

- [ ] ~LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)~

- [ ] ~Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.277`, use the [init-lts-line](https://github.com/jenkins-infra/backend-commit-history

[2021-07-14 14:40] #170 closed

[2021-07-20 14:57] #166 closed

[2021-07-20 15:02] basil opened #173 "LTS 2.303.1"
# LTS 2.303.1

## Release Lead

@basil

## Prep work

- [x] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)

- [x] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.277`, use the [init-lts-line](https://github.com/jenkins-infra/backend-commit-history-parser/blob/master

[2021-07-21 13:16] imonteroperez commented on #171
@MarkEWaite @daniel-beck would you mind generating/preparing LTS changelog ? I was not able to do that as mentioned in the related task item

[code]

[2021-07-21 13:58] timja commented on #171
@imonteroperez file is here: https://github.com/jenkinsci/core-changelog-generator/blob/master/release-drafter.yml

just export that variable pointing to that file

[2021-07-21 13:58] MarkEWaite commented on #171
Happy to do that.  Should have it completed by end of day July 22, 2021.

[2021-07-22 06:49] timja commented on #173
@basil I've created the origin branches now

[2021-07-28 19:50] MarkEWaite opened #176 "2.289.3 Docker image creation job fails with unexpected HTTP code from Dockerhub"
Docker build process failed after generating and pushing some of the images.  See the log output on trusted.ci.jenkins.io in the Containers job for more details.

[2021-07-28 20:57] #176 closed

[2021-07-29 10:17] timja commented on #171
Looks like ci.jenkins.io isn't updated yet?

[2021-07-29 10:20] bmunozm commented on #171
@timja can you update? Neither @imonteroperez or I have rights to do it :-(

[2021-07-29 10:22] timja commented on #171
not right now but I've messaged in #jenkins-infra to see if someone else does

[2021-07-29 11:10] timja commented on #171
@olblak has done it

[2021-07-29 11:10] #171 closed

[2021-08-13 07:10] timja commented on #173
@basil did you want to send an announcement email for the RC?

an incremental can be used this time, the last build is at:
https://repo.jenkins-ci.org/incrementals/org/jenkins-ci/main/jenkins-war/2.303.1-rc31375.66d9c71daa5e/jenkins-war-2.303.1-rc31375.66d9c71daa5e.war

[2021-09-08 20:09] #173 closed

[2021-09-15 10:10] bmunozm opened #180 "LTS 2.303.2"
# Next LTS release

## Release Lead

@bmunozm

@<github-username of release lead>

## Prep work

- [ ] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)

- [ ] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.277`, use the [init-lts-line](https://github.com/jenkins-infr

[2021-09-23 07:27] timja commented on #180
@bmunozm don't worry about the upgrade guide and changelog for now, it can be done later

[2021-09-23 14:43] bmunozm commented on #180
@daniel-beck ```Check with security team that no security update is planned. If a security update is planned, revise the checklist after the public pre-announcement to the jenkinsci-advisories mailing list``` this is for the release day right?

[2021-09-23 16:05] daniel-beck commented on #180
@bmunozm No, it's for ~1 week before release. This time, I announced it on https://groups.google.com/g/jenkinsci-dev/c/kdLE4x-HBSw/m/obp30TQ0CgAJ already, so while not yet officially announced to users, we can proceed with the expectation there will be security updates.

I think for this checklist it basically means the changelog and upgrade guide need to be merged a bit earlier, and that I trigge

[2021-10-06 07:03] timja commented on #180
I've given you permissions, only change that looks relevant is https://github.com/jenkins-infra/release/pull/182 and it's unlikely to have any affect on a stable branch so probably fine to skip this step

[2021-10-07 08:32] bmunozm commented on #180
Thanks!! Done

[2021-10-13 12:34] res0nance opened #187 "LTS 2.303.3"
# Next LTS release

## Release Lead

@res0nance

## Prep work

- [x] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)

- [x] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.277`, use the [init-lts-line](https://github.com/jenkins-infra/backend-commit-history-parser/bl

[2021-11-12 22:19] #187 closed

[2021-11-13 20:03] cathychan opened #191 "LTS 2.319.1"
# Next LTS release

## Release Lead

@cathychan

## Prep work

- [x] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)

- [x] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.277`, use the [init-lts-line](https://github.com/jenkins-infra/backend-commit-history-parser/bl

[2021-11-13 20:53] timja commented on #191
I've created the origin branches in jenkins, packaging and release as you won't have access

[2021-11-14 20:09] cathychan commented on #191
Current candidates for backporting: [the standard LTS Candidates filter + "released as" being 2.320 or empty](https://issues.jenkins.io/issues/?filter=12146&jql=issuetype%20in%20(Bug%2C%20Improvement)%20AND%20statusCategory%20%3D%20Done%20AND%20resolution%20%3D%20Fixed%20AND%20labels%20%3D%20lts-candidate%20AND%20(%22Released%20As%22%20~%20%222.320%22%20OR%20%22Released%20As%22%20is%20EMPTY)%20ORD

[2021-11-14 20:18] timja commented on #191
Sure makes sense, we'll also need https://issues.jenkins.io/browse/JENKINS-66969 (un-released but fairly important UX issue)

[2021-11-15 13:08] cathychan commented on #191
Sounds good. I'll include that.

[2021-11-15 14:26] cathychan commented on #191
@timja The ticket is still "open". Do we typically wait for it to be released in the weekly before marking it as resolved, or do we just resolve it now (for it to accurately show up at https://issues.jenkins.io/issues/?filter=12146)?

[2021-11-15 14:33] timja commented on #191
I've updated it now, generally you'd wait but it's getting released tomorrow, so close enough I think

[2021-11-17 17:21] cathychan commented on #191
@timja Can you publish the pre-release? I don't think I have the necessary permissions. (Or I'm not looking at the right place?)

[2021-11-17 20:51] timja commented on #191
https://github.com/jenkinsci/jenkins/releases/tag/jenkins-2.319.1-rc

[2021-12-01 18:52] #191 closed

[2021-12-16 16:44] cathychan opened #195 "LTS 2.319.2"
# LTS 2.319.2 - Jan 12, 2022

## Release Lead

@cathychan

## Prep work

- [ ] ~LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)~

- [ ] ~Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.277`, use the [init-lts-line](https://github.com/jenkins-infra/backend-commit-hist

[2021-12-17 02:04] cathychan commented on #195
Backporting candidates:

[code]

[2021-12-21 16:34] cathychan commented on #195
https://github.com/jenkinsci/jenkins/pull/6070#issuecomment-998681491

I manually deployed a SNAPSHOT at https://github.com/jenkinsci/jenkins/releases/download/https://repo.jenkins-ci.org/snapshots/org/jenkins-ci/main/jenkins-war/2.319.2-SNAPSHOT/jenkins-war-2.319.2-20211221.161342-1.war

Just double-checking, do you mean that we announce this SNAPSHOT as the release candidate? @timja

[2021-12-21 16:43] timja commented on #195
yes

[2021-12-21 17:26] timja commented on #195
I've added you to the release team in GitHub you should have access now

[2022-01-05 14:52] dduportal opened #199 "Execute Release Process with JDK11"
### Feature Request

- JDK11 should be the default JDK used to execute the release process
  - As for today, we are using the latest OpenJDK8 available in the official Maven Docker Image: https://github.com/jenkins-infra/release/blob/833c03a28a04e8179b425bf4352259b5ba870ec7/PodTemplates.d/release-linux.yaml#L36

- The image [`jenkinsciinfra/docker-packaging:2.0.0`](https://github.com/jenkins-infra

[2022-01-05 15:00] dduportal opened #200 "Switch Windows Packaging Envrionement from Windows Server Core 18.09 to Windows Server Core LTSC2019"
### Feature Request

As for today, we are sticking to an old version of hte inbound agent wod the Windows packaging process: https://github.com/jenkins-infra/release/blob/833c03a28a04e8179b425bf4352259b5ba870ec7/PodTemplates.d/package-windows#L11

- Agent version is 4.9.x while last stable is [4.11.2](https://github.com/jenkinsci/remoting/releases/tag/remoting-4.11.2) for today
- Windows Server Co

[2022-01-05 15:05] dduportal opened #201 "Release & Package Processes: "one container to rule them all""
As per https://issues.jenkins.io/browse/JENKINS-67474, we are facing issues with the current Kubernetes plugin version (1.31.x line).

The only viable solution as for today, if we keep using Kuberneets agents, is to use "single-container pod", where we defined only 1 container named `jnlp`, based on an image that inherits (or behaves like) jenkins/inbound-agent AND with all the tools required.

##

[2022-01-05 15:18] dduportal opened #202 "Redhat Packaging Process: switch to createrepo_c (and bump version)"
### Feature Request

In order to build RPM (Redhat Linux series) packages for Jenkins, we are using a tool named `createrepo` (available from http://createrepo.baseurl.org/download/index.html).

This tools was packaged in Ubuntu 18.04 but isn't for Ubuntu 20.04, Debian and more recent distributions that we use for our agents.
https://answers.launchpad.net/createrepo/+question/690448 (It was python

[2022-01-05 15:26] timja commented on #202
Sounds good to do but need to test it in some way or wait till the weekly after the security release I think

[2022-01-13 01:30] #195 closed

[2022-01-17 12:51] imonteroperez opened #209 "LTS 2.319.3.1"
# 2.319.3.1 LTS release

## Release Lead

@imonteroperez

## Prep work

- [ ] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)

- [ ] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.277`, use the [init-lts-line](https://github.com/jenkins-infra/backend-commit-history-

[2022-01-17 16:30] dduportal commented on #201
- PR #203 merged to have release-linux on "single container".
- WiP on https://github.com/jenkins-infra/docker-packaging/pull/23 to have a windows version of the docker-packaging image (thanks to @smerle33 whom fixed infra.ci's VM Windows agent ❤️ ). It would solve #200 + this issue.

[2022-01-17 16:50] dduportal commented on #200
Thanks @timja for pointing that this 2022 version might not available on our AKS 1.20.x cluster in https://github.com/jenkins-infra/docker-packaging/pull/23#discussion_r786165437 .

[2022-01-17 17:47] dduportal opened #212 "Windows Packaging: Avoid using the full dotnet SDK"
Hello @MarkEWaite @timja , I'm facing a size/speed issue around the Windows packaging step.

The size of the image `mcr.microsoft.com/dotnet/framework/sdk:3.5` is 15Gb and need to be pull each time we run a release process (or a build in https://github.com/jenkins-infra/docker-packaging/pull/23).

This issue already exists during the weekly and LTS releases (seen with @Wadeck and @daniel-beck duri

[2022-01-17 17:54] dduportal commented on #212
For tomorrow's release, I would want to try the version 4.8 of the dotnet sdk: the Docker image is 12.8 Gb : still 3 Gb less.

[2022-01-17 18:51] timja commented on #212
Either @olblak or @slide may know

[2022-01-17 20:35] dduportal commented on #212
As per https://github.com/jenkinsci/packaging#pre-requisites:

Not sure if ".net 2.0" covers the whole SDK framework?

[2022-01-17 20:35] timja commented on #212
wix3 requires at least .net 3.5

wix4 which is in development uses .net core

[2022-01-17 20:52] dduportal commented on #212
I'm gonna try installing .net SDK + wix in the inbound-agent Docker image instead of pulling the whole 12 Gb of framework then

[2022-01-17 21:00] timja commented on #212
I think wix will require the whole framework but worth a try

[2022-01-18 03:02] slide commented on #212
Those pre-requisites are not correct. Cygwin is not needed. .Net core will not work. It must be 3.5.

[2022-02-09 12:16] daniel-beck opened #222 "Run job on release.ci.jenkins.io"

[2022-02-09 12:16] #222 closed

[2022-02-10 13:29] MarkEWaite commented on #209
@imonteroperez I believe that the release checklist is complete and can be closed.

Is there anything that we've missed?

Anything beyond #215 that should be included in future checklists?

[2022-02-10 18:38] cathychan opened #223 "LTS 2.332.1"
# Next LTS release

## Release Lead

@cathychan

## Prep work

- [x] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)

- [x] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.277`, use the [init-lts-line](https://github.com/jenkins-infra/backend-commit-history-parser/bl

[2022-02-10 20:00] timja commented on #223
I've sent you an invite to this repo 😄

[2022-03-10 13:56] #223 closed

[2022-03-23 09:39] imonteroperez opened #225 "LTS 2.332.2"
# 2.332.2 LTS release

## Release Lead

@imonteroperez

## Prep work

- [ ] ~LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)~

- [ ] ~Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.277`, use the [init-lts-line](https://github.com/jenkins-infra/backend-commit-history

[2022-04-06 07:47] imonteroperez commented on #225
@timja not sure if this https://github.com/jenkinsci/packaging/pull/306 should be merged or not. Merging things from master to LTS branch sounds weird to me. Do you mind to confirm? Thanks in advance!

[2022-04-06 07:52] timja commented on #225
That looks fine to merge go for it

[2022-04-06 08:05] imonteroperez commented on #225
@timja additional request here, not able to reach https://release.ci.jenkins.io/blue/organizations/jenkins/core%2Fstable%2Frelease/branches/ :-( - I guess it is behind a Jenkins project VPN right? - do you mind taking a look and launching it?

[2022-04-06 08:24] timja commented on #225
Sure, feel free to get VPN access setup: https://github.com/jenkins-infra/docker-openvpn#howto-get-client-access

[2022-04-06 08:25] timja commented on #225
Triggered https://release.ci.jenkins.io/job/core/job/stable/job/release/job/stable-2.332/2/

[2022-04-06 08:52] imonteroperez commented on #225
- https://github.com/jenkins-infra/docker-openvpn/pull/152
- https://github.com/jenkins-infra/helpdesk/issues/2867

[2022-04-06 12:23] imonteroperez commented on #225
https://github.com/jenkins-infra/helpdesk/issues/2869

[2022-04-06 12:24] imonteroperez commented on #225
Release is done \o/

[2022-04-06 12:24] #225 closed

[2022-04-12 13:43] NotMyFault opened #227 "2.332.3 LTS release"
# Next LTS release

## Release Lead

@NotMyFault

## Prep work

~~- [ ] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)~~

~~- [ ] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.277`, use the [init-lts-line](https://github.com/jenkins-infra/backend-commit-history-pa

[2022-04-12 13:59] timja commented on #227
Feel free to send a VPN request so you can see the CI instances:
https://github.com/jenkins-infra/docker-openvpn#howto-get-client-access

[2022-04-12 14:02] NotMyFault commented on #227
Thanks, heading forward to do that later! Would you mind adding me to the release team? I don't think I'm able to publish a pre-release on GitHub otherwise.

[2022-04-12 14:29] timja commented on #227
Done

[2022-05-04 16:33] NotMyFault commented on #227
@timja could you run the docker job on trusted.ci please?

[2022-05-04 17:54] MarkEWaite commented on #227
Job ran about 2 hours ago and has published the tags.  Thanks!

[2022-05-04 18:33] NotMyFault commented on #227
Thanks for the confirmation, Mark.

Hopefully we can have this job on release.ci soonish 👀

[2022-05-04 18:51] MarkEWaite commented on #227
https://github.com/jenkins-infra/helpdesk/issues/2845

[2022-05-04 20:27] NotMyFault commented on #227
I'm going ahead and close this issue. The checklist is complete and the release build is available for GA 🎉

[2022-05-04 20:27] #227 closed

[2022-05-05 14:54] MarkEWaite commented on #227
Thanks very much @NotMyFault for being the release lead on Jenkins 2.332.3.  Much appreciated!

[2022-05-05 14:58] timja commented on #227
Thanks Alex!

[2022-05-13 18:09] NotMyFault opened #231 "LTS 2.346.1"
# 2.346.1 LTS release

## Release Lead

@NotMyFault

### Comment:
The time between the RC creation and the final LTS release has been delayed by two weeks, hence there are several backporting PRs, tests and BOM results. One for each backporting round.

## Prep work

- [x] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)

- [x]

[2022-05-13 18:49] NotMyFault commented on #231
@timja I'm unable to push a new release branch to this repository

[2022-05-13 22:07] timja commented on #231
I've added you to the repo, and raised https://github.com/jenkins-infra/helpdesk/issues/2940 so i can add you to team

[2022-05-13 22:25] timja commented on #231
added you to team now

[2022-05-16 19:33] kmartens27 commented on #231
see https://github.com/jenkins-infra/jenkins.io/pull/5151 for LTS changelog & upgrade guide

[2022-06-07 10:15] #202 closed

[2022-06-08 19:58] dduportal commented on #199
- https://github.com/jenkins-infra/release/pull/233
- https://github.com/jenkins-infra/docker-packaging/pull/36
- https://github.com/jenkins-infra/helpdesk/issues/2945

[2022-06-08 19:58] #199 closed

[2022-06-08 20:06] dduportal opened #245 "Ability to generate the RPM repository inside the packaging container instead on the remote pkg VM"
- https://github.com/jenkinsci/packaging/pull/317#discussion_r892777330
- https://github.com/jenkins-infra/docker-packaging/pull/40/files#submit-review which removes the uneeded in the packaging for now

The goal is to get rid of the dependency to the remote machine: we would want to allow pacakging to happens in the agent based on the "docker-packaging" environements.

[2022-06-10 17:32] dduportal opened #250 "Limit the backports to avoid breaking future LTS release after changes on the weekly tooling"
This repository follows the branching model of the Jenkins core with:

- weekly releases performed from the principal branch
- branches for stable / security lines

It creates a risk (a real one as we regularly break LTS/security releases) that we do not reuse the technical changes by forgetting to backports.

It also creates complexity because of the need of this backports (1 backport PR for each

[2022-06-22 15:06] #231 closed

[2022-06-28 19:38] NotMyFault opened #261 "LTS 2.346.2"
# Next LTS release

## Release Lead

@NotMyFault

## Prep work

~~- [ ] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)~~

~~- [ ] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.277`, use the [init-lts-line](https://github.com/jenkins-infra/backend-commit-history-pa

[2022-07-01 08:30] timja opened #264 "Automate updating issues to resolved / closed and released as"
### Your checklist for this issue

1. Weekly issues should be updated to be resolved after release
2. LTS issues should be updated  to be closed after release if not already closed

Released as field should be added for both weekly and LTS

Release checklist should be updated to either remove the manual step or a sanity check

[2022-07-13 19:41] NotMyFault commented on #261
The release has been released 👏🏻

[2022-07-13 19:41] #261 closed

[2022-07-23 08:20] NotMyFault opened #271 "LTS 2.346.3"
# Next LTS release

## Release Lead

@NotMyFault

## Prep work

~- [ ] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)~

~- [ ] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.277`, use the [init-lts-line](https://github.com/jenkins-infra/backend-commit-history-parse

[2022-07-26 19:50] kmartens27 commented on #271
2.346.3 changelog available here https://github.com/jenkins-infra/jenkins.io/pull/5311 (in draft, will submit properly pending review & feedback)

[2022-08-05 09:39] krisstern opened #275 "LTS 2.361.1"
# LTS 2.361.1 - Sep 7, 2022

## Release Lead

@krisstern

## Prep work

- [x] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev/c/JlbiG5pO5l8/m/8gSDmGajAQAJ)
      See the [discussion thread](https://groups.google.com/g/jenkinsci-dev/c/JlbiG5pO5l8/m/8gSDmGajAQAJ)

- [x] Create or update release branch in [jenkinsci/jenkins](https

[2022-08-07 01:09] krisstern commented on #275
Hi @timja I tried running `init-lts-line 2.361` locally, but got some issues with permissions:

The traceback:
[code]

[2022-08-07 06:54] NotMyFault commented on #275
The init scripts require write permissions on the repositories.

[2022-08-07 07:14] timja commented on #275
I’ll do it in a bit unless you can Alex?

[2022-08-07 07:19] NotMyFault commented on #275
I'll head forward to it in a couple of hours, no worries 👍🏻

[2022-08-07 09:21] NotMyFault commented on #275
Packaging branch has been create, release & jenkins branch have been initiated.

[2022-08-08 06:23] krisstern commented on #275
Hi @timja @NotMyFault

Regarding the task

I am wondering if this means I will need to open a pull request to add `bom-2.361.x` to [bom](https://github.com/jenkinsci/bom)? If so, when will be the best time to do so?

[2022-08-08 06:39] NotMyFault commented on #275
Yea

Anytime after the weekly release has been picked the LTS release is based on.

[2022-08-09 13:41] krisstern commented on #275
https://github.com/jenkinsci/bom/pull/1387 ready for a review

[2022-08-09 13:55] krisstern commented on #275
There seems to be some issue with `prep: error in 'sh' step` though, I will need some help resolving this.

[2022-08-09 14:00] NotMyFault commented on #275
See my comment on https://github.com/jenkinsci/bom/pull/1387#discussion_r941361341

[2022-08-10 10:51] NotMyFault commented on #271
2.346.3 has been shipped for GA, thanks to everyone participating 🎉

[2022-08-10 10:51] #271 closed

[2022-08-10 15:59] timja commented on #271
Thanks!

[2022-08-10 16:05] kmartens27 commented on #271
Thanks @NotMyFault for making it a great experience!

[2022-08-11 14:46] krisstern commented on #275
@timja @NotMyFault I think we will need to handle the below two items as soon as possible:

Included on [Docs office hours agenda](https://docs.google.com/document/d/1ygRZnVtoIvuEKpwNeF_oVRVCV5NKcZD1_HMtWlUZguo/edit?usp=sharing) for 11 Aug 2022 (Europe) and 12 Aug 2022 (Asia)

Included on [Docs office hours agenda](https://docs.google.com/document/d/1ygRZnVtoIvuEKpwNeF_oVRVCV5NKcZD1_HMtWlUZguo/edi

[2022-08-11 14:50] timja commented on #275
@krisstern the docs team will handle that, I think @MarkEWaite has been editing it with updates

[2022-08-11 14:56] krisstern commented on #275
Yup, just checked that these have been included in the "Jenkins Docs Office Hours" minutes.

[2022-08-12 07:56] NotMyFault commented on #160
updatecli takes care of that now.

[2022-08-12 07:56] #160 closed

[2022-08-12 07:56] NotMyFault commented on #159
updatecli takes care of that now.

[2022-08-12 07:56] #159 closed

[2022-08-12 08:05] timja commented on #159
Nice, the main one missing is https://github.com/jenkins-infra/release/issues/158

[2022-08-14 03:11] krisstern commented on #275
Hi,

For the following task:

I am wondering if I am supposed to use the labels `2.277.2-fixed` and `2.277.2-rejected`, or should I be using `2.361.1-fixed` and `2.361.1-rejected`? And why?

[2022-08-14 03:38] krisstern commented on #275
Also, when is the best time to start the backporting process? The thing I am not sure now is the timing for the release of the RC. I am thinking that the backporting should be done one week before that, is this within the expected time frame?

[2022-08-14 05:50] timja commented on #275
Now is good, generally the more time the better, can always do a second / more rounds of backporting as needed, and there's sometimes more than one RC

[2022-08-14 10:52] krisstern commented on #275
I have started backporting, but ran into some issue I am not sure what I should do. If I get something like this:
[code]
What should I do? There are effectively three commits found. For this case, should I first cherry pick `4ba9c08901` then `ea3017ea85`, while ignoring `cb1bbc74df`?

[2022-08-14 12:48] timja commented on #275
you only want `cb1bbc74dfa68879916441b76cb26bb4fb35c5e8`

the first one is the inital PR, second is the revert, and last is the the one that is still on master

[2022-08-14 13:38] krisstern commented on #275
Thanks for the prompt reply @timja! First backporting PR has been opened for LTS 2.361.1 at https://github.com/jenkinsci/jenkins/pull/6993.

[2022-08-15 08:52] NotMyFault commented on #275
Keep in mind, LTS PRs target `stable-` branches. I change your PR target branch from `master` to `stable-2.361`.

[2022-08-15 08:56] krisstern commented on #275
Yup, I will keep that in mind.

I had tried to remember it when I created the backporting branch from the `stable-2.361` branch, but realized I forgot to choose the correct target branch to merge the PR against after the fact. Thanks for the prompt correction @NotMyFault!

[2022-08-16 09:11] krisstern commented on #275
Hi, I am wondering when will be a good time to send out the backporting email. Would it be exactly one week before the RC is released on a Wednesday? Is there any guideline(s) about this?

[2022-08-16 09:12] NotMyFault commented on #275
Generally before the backporting PR is created, hence it's above on the checklist.

[2022-08-16 09:16] krisstern commented on #275
Thanks @NotMyFault! Let me fix this and send out an backporting announcement email later today. I saw some discussion about the backporting on the `dev` mailing list previously, so I assumed some discussion did take place. My apologies for the confusion.

[2022-08-17 14:52] kmartens27 commented on #275
added first draft of changelog, submitted draft PR for this https://github.com/jenkins-infra/jenkins.io/pull/5370

will add backports when available, and upgrade guide when completed

[2022-08-17 19:57] NotMyFault commented on #275
Given the backporting PR is about to be merged anytime soon, I went ahead and ran the RC through the ATH, links are on the checklist.

[2022-08-23 12:47] krisstern commented on #275
Hi guys, regarding the items for the RC creation, would like to check with you the following:

For the above I find the URL https://repo.jenkins-ci.org/incrementals/org/jenkins-ci/main/jenkins-war/2.361.1-rc32701.b_06d9cef554c/jenkins-war-2.361.1-rc32701.b_06d9cef554c.war.

But regarding the following:

I would like to know how we will proceed with the above task? Will I need to do anything on my

[2022-08-23 12:48] NotMyFault commented on #275
I can push a pre-release tomorrow morning, no worries 👍🏻

[2022-08-23 12:50] krisstern commented on #275
Cool, just wanted to double-check that everything is in order 👍🏼

[2022-08-23 12:52] NotMyFault commented on #275
ATH and BOM failures should be revised still imo, but I had no time to look into them properly yet.

[2022-08-23 12:56] krisstern commented on #275
I see

[2022-08-23 13:16] timja commented on #275
ATH is just a known issue around RCs not getting a dynamic update site I think

[2022-08-24 17:28] krisstern commented on #275
Should I send out an announcement email regarding the RC now?

[2022-08-24 17:39] NotMyFault commented on #275
Yes.

[2022-08-24 17:54] krisstern commented on #275
Email is sent and a record of it is at [the official Google group announcement](https://groups.google.com/g/jenkinsci-dev/c/QG2osH2Iz6k/m/IQh5ZaVeAQAJ).

[2022-08-27 13:12] krisstern commented on #275
Hi everyone,
Is there anything I will need to do on my part regarding https://github.com/jenkinsci/jenkins/pull/7034?

[2022-08-27 15:56] NotMyFault commented on #275
No, possibly updating the link on the email list, but I went ahead and merged the PR.

[2022-09-06 01:36] krisstern commented on #275
Hi guys,

Is there anything I will need to do or prepare for before the actual release of LTS 2.261.1 on September 7th, 2022?

[2022-09-06 07:37] NotMyFault commented on #275
No, the next step is the LTS release block you work your way through, as far as you can.
I'll run the job on release.ci

[2022-09-06 12:22] NotMyFault commented on #275
See my comment above

This instance is not publicly accessible from the internet.

[2022-09-06 12:24] krisstern commented on #275
Okay, noted. Let me take care of [`bom`](https://github.com/jenkinsci/bom) and [`configuration-as-code integration tests`](https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/integrations/pom.xml) now

[2022-09-07 05:26] krisstern commented on #275
LTS 2.361.1 is scheduled for release today. If there is any other tasks I can help out with please let me know. 😊

[2022-09-07 13:06] kmartens27 commented on #275
Thanks for being the release lead @krisstern, great job on coordinating the release!

[2022-09-07 14:04] krisstern commented on #275
Hey you are welcome @kmartens27, thanks for everyone's effort! Checklist is confirmed to be completed.

[2022-09-07 14:04] jetersen commented on #275
You can remove the following from the checklist as they are handled by updatecli:
`> Create pull request to update [bom](https://github.com/jenkinsci/bom) to the weekly version that will be the base of the release line (strike this out for new point release)` from the checklist.
`> Create pull request to update [configuration-as-code integration tests](https://github.com/jenkinsci/configuration-as

[2022-09-07 14:06] krisstern commented on #275
Thanks @jetersen Will keep this in mind moving forward!

[2022-09-07 14:08] jetersen commented on #275
Oh sorry, the PR is needed for the weekly release that is intended as LTS.

However the PR point release is not needed.

[2022-09-07 14:11] timja commented on #275
Thanks @krisstern !

[2022-09-07 14:11] #275 closed

[2022-09-07 14:17] krisstern commented on #275
You are welcome @timja!

[2022-09-09 12:39] krisstern opened #287 "LTS 2.361.2"
# LTS 2.361.2 release - October 5, 2022

## Release Lead

@krisstern

## Prep work

- [ ] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)

- [ ] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.361`, use the [init-lts-line](https://github.com/jenkins-infra/backend-com

[2022-09-19 16:54] kmartens27 commented on #287
@krisstern sharing the PR for the changelog & upgrade guide here https://github.com/jenkins-infra/jenkins.io/pull/5471

[2022-09-20 13:27] krisstern commented on #287
And is there anything I can do at the moment regarding the PR?

[2022-09-20 13:30] NotMyFault commented on #287
There is open feedback pending on the PR that needs to be addressed, in order to make the PR eligible for a merge.

[2022-09-20 14:30] krisstern commented on #287
I have made a PR for [JENKINS-69570](https://issues.jenkins.io/browse/JENKINS-69570) at https://github.com/jenkinsci/packaging/pull/336. So that has been addressed. The rest I am not sure as I am not sure what the consensus is on which commits to include...

[2022-09-22 10:32] krisstern commented on #287
@NotMyFault Regarding the following:

Should I wait for you to complete this task? Also, I will send out an email soon about the delay in the RC release once it is published.

[2022-09-23 12:46] krisstern commented on #287
Hi guys, regarding

Has this step been completed yet?

[2022-09-23 16:32] MarkEWaite commented on #287
The intent of that step is to assure that the release lead knows if a security release is being considered, without premature disclosure of the plan for a security release.  With a bit of a smile, if someone has done that task, they probably can't disclose it in this public location, because that would have the affect of pre-announcing a security release (if one were planned).

Send a message to t

[2022-09-23 16:51] krisstern commented on #287
Thanks @MarkEWaite for the prompt reply! I had an urge to contact the security team, but wasn't sure who to talk to. Let me initiate communication with the security officer shortly. Will keep this in mind moving forward.

[2022-09-23 16:53] NotMyFault commented on #287
Typically, those advisories are announced in advance on the advisories mailing list.

If not, a quick check with the security team helps, or checking non-public infra, if you can access those 😉

[2022-09-23 16:54] krisstern commented on #287
Thanks @NotMyFault! Apprecaite the tips.

[2022-10-03 12:50] krisstern commented on #287
Hi guys,

Regarding:

Are we still using the IRC channels or have we shifted to Gitter?

[2022-10-03 12:51] NotMyFault commented on #287
See https://github.com/jenkins-infra/release/blob/master/.github/ISSUE_TEMPLATE/1-lts-release-checklist.md?plain=1#L72

[2022-10-03 12:58] NotMyFault commented on #287
IRC channels are bridged to matrix, ftr.

[2022-10-03 12:59] krisstern commented on #287
Okay, thanks! Yeah I was a bit confused about the channels earlier.

[2022-10-05 15:16] krisstern commented on #287
Awesome! Thanks @NotMyFault

[2022-10-05 15:34] krisstern commented on #287
I have just adjusted the states for all the relevant [JIRA issues](https://issues.jenkins.io/browse/JENKINS-69666?jql=labels%20%3D%202.361.2-fixed) as `Closed (Released)` and checked that they have been correctly labeled as `Fixed`.

[2022-10-05 15:41] kmartens27 commented on #287
Thanks again for taking the lead on this @krisstern !!

[2022-10-05 15:42] krisstern commented on #287
You are welcome @kmartens27!

[2022-10-13 06:45] NotMyFault opened #302 "2.361.3"
# Next LTS release

## Release Lead

@NotMyFault

## Prep work

~~- [ ] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)~~

~~- [x] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.361`, use the [init-lts-line](https://github.com/jenkins-infra/backend-commit-history-pa

[2022-10-20 15:58] kmartens27 commented on #302
adding the [2.361.3 changelog & upgrade guide ](https://github.com/jenkins-infra/jenkins.io/pull/5618)PR, which is open for review

[2022-11-02 14:00] NotMyFault commented on #302
2.361.3 has been released to GA \o/

[2022-11-02 14:00] #302 closed

[2022-11-07 21:14] NotMyFault opened #308 "LTS 2.375.1"
# Next LTS release

## Release Lead

@NotMyFault

## Prep work

- [x] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)
https://groups.google.com/g/jenkinsci-dev/c/JbF4KKlqGSI

- [x] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `stable-2.361`, use the [init-lts-line](https://

[2022-11-13 22:41] timja opened #311 "LTS 2.361.4"
# Next LTS release

More information about the release process is available on the [release guide](../../docs/releases.md).

## Release Lead

@timja

## Prep work

~- [ ] LTS baseline discussed and selected in the [Jenkins developers mailing list](https://groups.google.com/g/jenkinsci-dev)~

~- [] Create or update release branch in [jenkinsci/jenkins](https://github.com/jenkinsci/jenkins), e.g. `s

[2022-11-14 19:35] #311 closed

[2022-11-22 17:33] lemeurherve opened #313 "cleanup request: replace all the readProperties() occurences by an agent command"
Same as https://github.com/jenkins-infra/pipeline-library/issues/523, we need to replace pipeline-utility-step plugin provided `readProperties` function used at https://github.com/jenkins-infra/release/blob/933208341833c9753740c1202d64018bf62980fc/Jenkinsfile.d/core/release#L120-L123 and https://github.com/jenkins-infra/release/blob/933208341833c9753740c1202d64018bf62980fc/Jenkinsfile.d/components

[2022-11-23 14:32] kmartens27 commented on #308
adding the [Changelog & Upgrade guide](https://github.com/jenkins-infra/jenkins.io/pull/5721) pull request

[2022-11-30 11:20] NotMyFault opened #316 "Initial LTS releases fail on release.ci"
For some reason, the initial build of LTS releases fail with

This can be seen on the jobs for 2.375, 2.361, 2.346 and earlier on release.ci

To start a successful build, you'll need to abort the failing one and restart the job.

[2022-11-30 11:21] NotMyFault commented on #308
2.375.1 has been shipped for GA 🎉

[2022-11-30 11:21] #308 closed

[2022-11-30 11:27] dduportal commented on #316
My understanding is because of https://github.com/jenkins-infra/release/blob/master/Jenkinsfile.d/core/package#L10.

The directive `parameters` is not parsed during the first build (egg and chicken). I guess we should use a variable in the pipeline to define the env var based on either the default value or the parameters value.

[2022-11-30 11:48] daniel-beck commented on #316
See also https://github.com/jenkins-infra/release#staging-before-release-day step "B".